@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 3px;
    box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.3);
    overflow: hidden;
    background: #4c4c4c;
    color: #fff;
    font-size: 12px;
    line-height: 100%;
    text-transform: uppercase;
    font-family: "Open Sans", Helvetica, sans-serif;
}

.center {
    position: absolute;
    top: 87px;
    left: 87px;
    width: 212px;
    height: 212px;
    background: #242424;
    border: 7px solid #3a3a3a;
    border-radius: 50%;
    text-align: center;
}

.dotted-circle {
    position: absolute;
    top: 14px;
    left: 14px;
    width: 180px;
    height: 180px;
    background: transparent;
    border-radius: 50%;
    border: 2px dotted #fff;
}

.date {
    position: absolute;
    top: 68px;
    width: 100%;
}

.time {
    position: absolute;
    top: 80px;
    width: 100%;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    margin: 4px 0;
}

.beat {
    position: absolute;
    top: 129px;
    left: 57px;
}

.beat span {
    color: #f85b5b;
    font-size: 10px;
    float: left;
    margin-top: 1px;
    margin-right: 4px;
    animation: beat 0.9s ease-in-out infinite;
}

.energy {
    position: absolute;
    top: 129px;
    right: 55px;
}

.spinner {
    position: absolute;
    width: 202px;
    height: 202px;
    border-radius: 50%;
    top: 5px;
    left: 5px;
}

.spinner circle {
    stroke: #f85b5b;
    stroke-width: 3;
    fill: none;
    stroke-dasharray: 625;
    animation: spinner 60s linear infinite;
    transform-origin: center center;
    transform: rotate(-90deg);
}

@keyframes spinner {
    from {
        stroke-dashoffset: 625;
        transform: rotate(-90deg) scaleY(1);
    }

    50% {
        stroke-dashoffset: 0;
        transform: rotate(-90deg) scaleY(1);
    }

    50.001% {
        transform: rotate(-90deg) scaleY(-1);
    }

    to {
        stroke-dasharray: 625;
        transform: rotate(-90deg) scaleY(-1);
    }
}

@keyframes beat {
    0% {
        transform: scale(1);
    }

    35% {
        transform: scale(1.2);
    }
}