*,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    place-content: center;
}

.container {
    width: 300px;
    height: 300px;
    border-radius: 20px;
    display: grid;
    place-content: center;
    background-color: #474787;
    box-shadow: 5px 5px 20px black;
}

.menu-icon {
    height: 70px;
    width: 100px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    background-color: #474787;
}

.line-one,
.line-two,
.line-three {
    height: 8px;
    width: 100px;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0px 5px 20px rgb(76, 76, 76);
}

.active .line-one {
    animation: animate-line-one 0.7s forwards;
}

.active .line-two {
    animation: animate-line-two 0.3s forwards;
}

.active .line-three {
    animation: animate-line-three 0.7s forwards;
}

.line-one {
    animation: animate-line-one-rev 0.7s forwards;
}

.line-two {
    animation: animate-line-two-rev 0.7s forwards;
}

.line-three {
    animation: animate-line-three-rev 0.7s forwards;
}

.no-animation {
    animation: none;
}

@keyframes animate-line-one {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: translateY(31px);
    }

    100% {
        transform: translateY(31px) rotate(45deg);
    }
}

@keyframes animate-line-two {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: scaleX(0);
    }
}

@keyframes animate-line-three {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: translateY(-31px);
    }

    100% {
        transform: translateY(-31px) rotate(135deg);
    }
}
@keyframes animate-line-one-rev {
    100% {
        transform: rotate(0deg);
    }
    50% {
        transform: translateY(31px);
    }
    0% {
        transform: translateY(31px) rotate(45deg);
    }
}
@keyframes animate-line-two-rev {
    100% {
        opacity: 1;
    }
    0% {
        opacity: 0;
        transform: scaleX(0);
    }
}

@keyframes animate-line-three-rev {
    100% {
        transform: rotate(0deg);
    }
    50% {
        transform: translateY(-31px);
    }
    0% {
        transform: translateY(-31px) rotate(135deg);
    }
}
